/* Home */
#home-page h2 {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 1.25rem;
}

/* Sales */

#sales-page h2 {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    text-align: center;
    font-weight: 400;
}

#sales-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

#sales-row img {
    height: 285px;
    width: 215px;
}

/* Parts */

#parts-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    gap: 2rem;
    flex-wrap: wrap;
}

#parts-row > div {
    display: flex;
    flex-direction: column;
}

#parts-row h2 {
    margin: 0;
    font-size: 18px;
    margin-bottom: 2px;
}

.parts-img-container {
    height: 200px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.parts-img-container img {
    max-width: 250px;
}

@media screen and (max-width: 1000px) {
    #sales-page .flex-row {
        flex-direction: column;
        align-items: center;
    }

    #logos {
        justify-content: center;
    }

    #parts-row {
        justify-content: space-around;
    }

    .parts-img-container {
        height: 150px;
    }

    .parts-img-container img {
        max-width: 200px;
    }
}

@media screen and (max-width: 720px) {
    #parts-row {
        flex-direction: column;
        gap: 1rem;
    }
}